@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bipul Raman<br />
    India<br />
    <abbr title="Phone">P:</abbr>
    000.0000.000
</address>

<address>
    <strong>Support:</strong>   <a href="http://www.bipul.in/contact">Support@example.com</a>
</address>